// Definimos varialbes globales

$success: rgb(93, 93, 223);
$danger: rgb(255, 34, 0);

// displya
$d-block: block;
$d-flex: flex;

@for $i from 1 through 3 {
    .textSize-#{$i}{font-size: 1em * $i;}
}

html{
    font-size: 62.5%;
    margin: auto;
}

body{
    padding: 0 ;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #e4e4e4;
    
}   

h1{
    color: rgba(63, 105, 191, 1);
}
h2{
    font-size: 3em;
}