footer{
    background-color: rgba(191, 172, 116, 1) ;
    bottom: 0;
    width: 100%;
    font-size: 1rem;
    padding-top: 10px;
    background: rgb(167,133,85);
    background: linear-gradient(0deg, rgba(167,133,85,1) 0%, rgba(218,205,178,1) 100%);
    
    
}

    .pie{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        
    }
    .footer__listitem{
        list-style: none;
    }
    
    
    .footer__listitem--align{
        text-align: center;
    }

    footer{
        ul{
            li{
                a{
                    color: rgba(63, 105, 191, 1);
                    text-decoration: none;
                    font-size: 1em;
                }
            }    
        }
    }  
        
    

    .footer__header{
        
        text-transform: uppercase;
        text-align: center;
    
    } 

    .footer__header--color{
        color: #454C73;
    }

    