footer{
    background-color: rgba(191, 172, 116, 1) ;
    bottom: 0;
    width: 100%;
    
    padding-top: 10px;
    background: rgb(167,133,85);
    background: linear-gradient(0deg, rgba(167,133,85,1) 0%, rgba(218,205,178,1) 100%);
     ul{
         text-decoration: none;
            li{
                
                    a{
                        color: rgba(63, 105, 191, 1);
                        text-decoration: none;
                        font-size: 1.5rem;
                    }
            }    
        }
    h3{
            color: rgba(68, 75, 114, 1);
            font-weight: 600;
            font-size: 2.5rem;
        }
}
    .pie{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        
    }
    .footer__listitem{
        list-style: none;
    }
    
    
    .footer__listitem--align{
        text-align: center;
    }

         
    .footer__header{
        
        text-transform: uppercase;
        text-align: center;
    
    } 

    .footer__header--color{
        color: #454C73;
    }

    