@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700&display=swap");
* {
  margin: 0;
  padding: 0; }

.textSize-1 {
  font-size: 1em; }

.textSize-2 {
  font-size: 2em; }

.textSize-3 {
  font-size: 3em; }

html {
  font-size: 62.5%;
  margin: auto; }

body {
  padding: 0;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #e4e4e4; }

h1 {
  color: #3f69bf; }

h2 {
  font-size: 3em; }

.header__container {
  padding: 10px;
  margin: 10px; }

.header__title, .header__title--color, .header__title--uppercase {
  text-align: center;
  padding: 30px; }

.header__title--color {
  color: #5d5ddf; }

.header__title--uppercase {
  text-transform: uppercase; }

.header__text, .header__text--small {
  text-align: center; }

.header__text--small {
  font-size: 1.5em; }

.section__container, .section__container--backgroundcolor, .section__container--border {
  padding: 50px 0;
  text-align: center;
  border: 3px solid #444b72;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.section__container--backgroundcolor {
  background-color: lavender; }

.section__container--border {
  border: 1px solid #444b72; }

.section__title {
  padding: 10px;
  font-size: 2em; }

.section__title--color {
  color: #5d5ddf; }

.section__button {
  border: 2px solid #767676;
  padding: 5px;
  border-radius: 0.5em;
  box-shadow: blueviolet;
  margin-top: 20px;
  font-size: 1.2em; }

.section__button--hover:hover {
  background-color: #53789b;
  color: #bfac74; }

.logro:hover {
  transform: scale(1.03, 1.03);
  background-color: lightblue;
  transition: 0.5s;
  cursor: pointer; }

.nuestrosLogros h2 {
  color: #3f69bf;
  text-align: center;
  padding: 20px 0 0 0;
  font-size: 3rem;
  font-weight: 500;
  width: 100%;
  letter-spacing: 10px; }

footer {
  background-color: #bfac74;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  background: #a78555;
  background: linear-gradient(0deg, #a78555 0%, #dacdb2 100%); }
  footer ul {
    text-decoration: none; }
    footer ul li a {
      color: #3f69bf;
      text-decoration: none;
      font-size: 1.5rem; }
  footer h3 {
    color: #444b72;
    font-weight: 600;
    font-size: 2.5rem; }

.pie {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

.footer__listitem {
  list-style: none; }

.footer__listitem--align {
  text-align: center; }

.footer__header {
  text-transform: uppercase;
  text-align: center; }

.footer__header--color {
  color: #454C73; }

#botonera {
  background-color: #444b72; }

#nav-enlaces {
  color: #bfac74; }

.nav__logo--small {
  width: 50px;
  height: 50px; }

.nav__link {
  text-decoration: none;
  background-image: linear-gradient(#bfac74, #bfac74);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s; }

.nav__link:hover, .nav__link:focus {
  background-size: 100% 2px; }

.nav__button--success {
  color: aliceblue;
  background-color: #5d5ddf; }

.colaborar{
  padding: 30px;
  height: 30%;

}
  .colaborar h1{
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    }

    .colaborar p{
      font-size: 2em;
    }

.ayuda{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
    
}
.videoAyuda{
  overflow: hidden;
  height: 50vh;
        
    }
.ayudarDonar{
  background-color: lavender;
  border-radius: 0.5em;
  padding: 30px;
  text-align: center;
  border: 1px solid rgba(68, 75, 114, 1);
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;


    }
.ayudarDonar h2{
  text-align: center;
  font-size: 2em;
        
    }

.ayudarDonar button{
        
        border: 1px solid black;
        padding: 10px;
        border-radius: 0.5em;
        box-shadow: blueviolet;
        margin-top: 20px;
        font-size: 1.5em;

    }

.ayudarDonar button:hover{
  background-color: rgb(83, 120, 155); 
  color: rgba(191, 172, 116, 1);       
        
    }

.estadisticas h2{
  font-size: 2em;
  text-align: center;
  padding: 10px 0;
  font-weight: 500;
     }
     
.estadisticas{
  color: ;
  padding-bottom: ;
  font-size: 1.5em;
  text-align: center;
                
  }
 
 
 .tabla{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-top: 1px solid rgba(191, 172, 116, 1);
  border-right: 1px solid rgba(191, 172, 116, 1);
  background-color: rgb(82, 98, 129);
  color: rgba(191, 172, 116, 1);
     
 }
 .tabla > div{
  padding: 8px 4px;
  border-left: 2px solid rgba(191, 172, 116, 1);
  border-bottom: 2px solid rgba(191, 172, 116, 1);
 }

 #conocenos{
  height: auto;
}
 
.section{
    font-size: 2em;  
    padding: 15px;

} 
.section h2{
        font-size: 2em;
        font-weight: 400;
        color: rgba(63, 105, 191, 1);
        margin: 0 0 10px 0;
  }
  .section p{
        font-size: 1em;
    
    }
.objetivos{
  
       
    
    }
  .objetivos h1{
    font-size: 3rem;
    text-align: center;
    padding: 10px 0;
        }

.cuerpo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   }
  