@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem; }

.textSize-1 {
  font-size: 1em; }

.textSize-2 {
  font-size: 2em; }

.textSize-3 {
  font-size: 3em; }

html {
  font-size: 62.5%;
  margin: auto; }

body {
  padding: 0;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #e4e4e4; }

h1 {
  color: #3f69bf; }

h2 {
  font-size: 2em;
  color: #3f69bf; }

h3 {
  font-size: 1.5em; }

.cuerpo {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.header__container {
  padding: 10px;
  margin: 10px; }

.header__title, .header__title--color, .header__title--uppercase {
  text-align: center;
  padding: 30px; }

.header__title--color {
  color: #5d5ddf; }

.header__title--uppercase {
  text-transform: uppercase; }

.header__text, .header__text--small {
  text-align: center; }

.header__text--small {
  font-size: 1em; }

.section__container {
  margin: 10px;
  padding: 30px 30px;
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.section__container--backgroundcolor {
  background-color: lavender; }

.section__container--border {
  border: 1px solid #444b72; }

.section__title {
  padding: 10px;
  font-size: 2em; }

.section__title--color {
  color: #5d5ddf; }

.section__button {
  border: 2px solid #767676;
  padding: 5px;
  border-radius: 0.5em;
  box-shadow: blueviolet;
  margin-top: 20px;
  font-size: 1em; }

.card:hover {
  transform: scale(1.03, 1.03);
  background-color: lightblue;
  transition: 0.5s; }

.nuestrosLogros h2 {
  color: #3f69bf;
  text-align: center;
  padding: 20px 0 0 0;
  font-weight: 500;
  width: 100%;
  letter-spacing: 10px; }

.videoAyuda {
  height: 40vh;
  overflow: hidden; }

.card-size {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.tabla {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-top: 1px solid #bfac74;
  border-right: 1px solid #bfac74;
  background-color: #526281;
  color: #bfac74; }

.tabla > div {
  padding: 8px 4px;
  border-left: 2px solid #bfac74;
  border-bottom: 2px solid #bfac74; }

.gifError {
  width: 50vh;
  height: auto; }

.cuerpoError404 {
  display: flex;
  flex-direction: column;
  justify-content: center; }

footer {
  background-color: #bfac74;
  width: 100%;
  padding-top: 10px;
  background: #a78555;
  background: linear-gradient(0deg, #a78555 0%, #dacdb2 100%); }
  footer ul {
    text-decoration: none; }
    footer ul li a {
      color: #3f69bf;
      text-decoration: none;
      font-size: 1.5rem; }
  footer h3 {
    color: #444b72;
    font-weight: 600;
    font-size: 2.5rem; }

.pie {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

.footer__listitem {
  list-style: none; }

.footer__listitem--align {
  text-align: center; }

.footer__header {
  text-transform: uppercase;
  text-align: center; }

.footer__header--color {
  color: #454C73; }

#botonera {
  background-color: #444b72; }

#nav-enlaces {
  color: #bfac74; }

.nav__logo--small {
  width: 50px;
  height: 50px; }

.nav__link {
  text-decoration: none;
  background-image: linear-gradient(#bfac74, #bfac74);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s; }

.nav__link:hover, .nav__link:focus {
  background-size: 100% 2px; }

.nav__button--success {
  color: aliceblue;
  background-color: #5d5ddf; }
